<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div id="landing-header">
 		<h1><img src="https://www.freelogoservices.com/api/main/images/1j+ojVVCOMkX9Wyrexe4hGfYlZWW8BVC5EeflW8pIyYVrFthliEvgfRi9fU7PFheuBBO1hkOd8A...jCdyU4EXmks7oGHEZNQGGHN...">Welcome to Library!</h1>
		<a class="btn btn-lg btn-success" href="/books ">Show Books</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

	</body>
</html>





